
/* Your CSS Code here. */
.holder{
	display:grid;
	width:200px;
	height:200px;
	grid-template-columns: 100px 100px;
	grid-template-rows: 100px 100px;
	gap:0px;
	border:2px solid black;
	
}
.item{
	background-color: lightblue;
	border:1px solid black;
	display:flex;
	align-items:center;
	justify-content:center;
}